<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GarageController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <GarageController.Properties.Settings>
            <setting name="RabbitMqHostname" serializeAs="String">
                <value>rv-broker.cloudapp.net</value>
            </setting>
            <setting name="RabbitMqUsername" serializeAs="String">
                <value>garage</value>
            </setting>
            <setting name="RabbitMqPassword" serializeAs="String">
                <value>GoGoGarage64</value>
            </setting>
            <setting name="RabbitMqHeartbeatExchange" serializeAs="String">
                <value>Heartbeat</value>
            </setting>
            <setting name="RabbitMqQueue" serializeAs="String">
                <value>GarageKorvettveien7</value>
            </setting>
        </GarageController.Properties.Settings>
    </applicationSettings>

  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="rve@masterloop.com" />
      <from value="support@masterloop.com" />
      <subject value="Log message from Eycarus" />
      <smtpHost value="smtp.office365.com" />
      <bufferSize value="512" />
      <port value="587" />
      <EnableSsl value="true" />
      <username value="support@masterloop.com" />
      <password value="ko9553Lj.d,_d889" />
      <authentication value="Basic" />
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ALL" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
